
New folder/AdventApp/bin/Debug/net7.0/AdventApp.deps.json
New folder/AdventApp/bin/Debug/net7.0/AdventApp.dll
New folder/AdventApp/bin/Debug/net7.0/AdventApp.exe
New folder/AdventApp/bin/Debug/net7.0/AdventApp.pdb
New folder/AdventApp/bin/Debug/net7.0/AdventApp.runtimeconfig.json
New folder/AdventApp/obj/AdventApp.csproj.nuget.dgspec.json
New folder/AdventApp/obj/AdventApp.csproj.nuget.g.props
New folder/AdventApp/obj/AdventApp.csproj.nuget.g.targets
New folder/AdventApp/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
New folder/AdventApp/obj/Debug/net7.0/AdventApp.AssemblyInfo.cs
New folder/AdventApp/obj/Debug/net7.0/AdventApp.AssemblyInfoInputs.cache
New folder/AdventApp/obj/Debug/net7.0/AdventApp.assets.cache
New folder/AdventApp/obj/Debug/net7.0/AdventApp.csproj.CoreCompileInputs.cache
New folder/AdventApp/obj/Debug/net7.0/AdventApp.csproj.FileListAbsolute.txt
New folder/AdventApp/obj/Debug/net7.0/AdventApp.dll
New folder/AdventApp/obj/Debug/net7.0/AdventApp.GeneratedMSBuildEditorConfig.editorconfig
New folder/AdventApp/obj/Debug/net7.0/AdventApp.genruntimeconfig.cache
New folder/AdventApp/obj/Debug/net7.0/AdventApp.GlobalUsings.g.cs
New folder/AdventApp/obj/Debug/net7.0/AdventApp.pdb
New folder/AdventApp/obj/Debug/net7.0/apphost.exe
New folder/AdventApp/obj/Debug/net7.0/ref/AdventApp.dll
New folder/AdventApp/obj/Debug/net7.0/refint/AdventApp.dll
New folder/AdventApp/obj/project.assets.json
New folder/AdventApp/obj/project.nuget.cache
workspace.code-workspace
